body,html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #ffdb58 
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}